#alert {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f44336; /* Red */
    color: white;
    text-align: center;
    padding: 5px 0px;
    font-size: 12px;
    height: 1rem;
}

#alert p {
    margin: 0;
}

body {
    padding-bottom: 50px;
}

@media (max-width: 600px) {
    #alert {
        font-size: 10px;
        height: 2rem;
    }
}