.mcui {
    display: flex;
    position: relative;
    background-color: #C6C6C6;
    border: 4px solid;
    border-color: #DBDBDB #5B5B5B #5B5B5B #DBDBDB;
    padding: 12px;
    text-align: left;
    white-space: nowrap;
    vertical-align: bottom;
}

.mcui-Crafting_Table {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mcui-Crafting_Table > .mcui-arrow {
    background: url(../images/arrow.webp) no-repeat center center / 64px 52px;
    width: 64px;
    height: 52px;
    margin: 0px 8px 0;
}

.mcui-Crafting_Table .mcui-row {
    display: flex;
}

.invslot {
    position: relative;
    display: inline-block;
    background: #8B8B8B no-repeat center center / 64px 64px;
    border: 4px solid;
    border-color: #373737 #FFF #FFF #373737;
    width: 64px;
    height: 64px;
    font-size: 32px;
    line-height: 2;
    text-align: left;
    vertical-align: bottom;
}

.invslot[data-id]:not([data-id=""]):not([data-id="null"]):hover::after {
    content: attr(data-id); /* Utilise l'attribut data-name pour afficher le texte */
    position: absolute;
    top: 0; /* Positionne le tooltip au-dessus de l'élément */
    left: -50%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 1000;
    transform: translateY(-100%); /* Positionne au-dessus de l'élément */
    margin-top: -5px;
    pointer-events: none; /* Empêche l'interaction avec le tooltip */
}

.invslot:hover {
    background: #A9A9A9 no-repeat center center / 64px 64px;
    border-color: #373737 #FFF #FFF #373737;
}

.mcwiki-header-grass, .ns-special .gallerybox img, .ns-14 .gallerybox img, .filehistory a img, .pixel-image, .invslot-item-image, .sprite {
    image-rendering: optimizeSpeed;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

.wikitable {
    background-color: #f8f9fa;
    color: #202122;
    margin: 2em 0;
    border: 2px solid #a2a9b1;
    border-collapse: collapse;
}

.mcui-Crafting_Table > *, .mcui-Furnace > * {
    display: inline-block;
    vertical-align: top;
}

.mcui-Crafting_Table > .mcui-output {
}

.invslot-large {
    padding: 16px;
}

.invslot img {
    width: 100%;
}

.search_bar {
    width: 70%;
    height: 3rem;
    outline: none;

}

.btn_in_game{
    display: flex;
    background: #c6c6c6 no-repeat center center / 64px 64px;
    border: 4px solid;
    border-color: #fdfbfc #646e76 #606065 #fdfbfc;
    box-shadow: 0 0 0 4px #151515;
    color: #4d4d4d;
    text-align: left;
    flex-direction: row;
    align-items: center;
    width: 97%;
    font-size: 2rem;
    margin: 4px;
    box-sizing: border-box;
}

.btn_in_game img {
    width: 64px;
    height: 64px;
}

.btn_in_game p {
    margin: 0;
    padding: 0 1rem;
    font-size: 1.2rem;
    width: 70%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    word-break: break-word;
}

.shadow_btn {
    background-color: #8b8b8b;
    border-color: #606065 #606065 #fff #373737;
}

h1 {
    font-family: 'Minecraft', sans-serif;
    font-size: 2rem;
    color: #4c4c4c;
    margin: 1rem 0;
    text-align: center;
}

.found_list {
    width: 400px;
    word-break: break-all;
    overflow-wrap: break-word;
}

#crafting-grid{
    display: block;
}

.wanted_btn_{
    background-color: #208305;
    border-color: #22c70a #024e03 #024e03 #22c70a;
    color: #ffffff;
}

@media (max-width: 600px) {
    .mcui {
        flex-direction: column;
        align-items: center;
        width: 90vw;
        padding: 6px 12px;
    }

    .mcui-Crafting_Table > .mcui-arrow {
        margin: 0;
        display: none;
    }

    .mcui-Crafting_Table > .mcui-output {
        margin-top: 0;
    }

    .btn_in_game {
        width: 90%!important;
        justify-content: center;
    }

    .mcui-Crafting_Table > .mcui-arrow {
        margin: 10px;
        transform: rotate(90deg);
    }

    .mcui-Crafting_Table > .mcui-output {
        margin-top: 10px;
    }

    h1 {
        margin: 0;
    }

    .shadow_btn {
        display: none;
    }
}