.interface_btn {
    background: #6d6d6d no-repeat center center;
    border: 4px solid;
    border-color: #aaaaaa #565656 #565656 #aaaaaa;
    box-shadow: 0 0 0 4px #151515;
    font-size: 1.5rem;
    padding: 0.1rem 4rem;
    color: #ffffff;
    text-decoration: none;
    
}

.interface_btn:hover {
    background: #9e9e9e no-repeat center center;
    border-color: #b0b0b0 #6a6a6a #6a6a6a #b0b0b0;
}

#header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}

.infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin: 0px 10px;
}

h2 {
    font-family: 'Minecraft', sans-serif;
    font-size: 1rem;
    color: #4c4c4c;
    margin: 0.5rem 0;
    text-align: center;
}

.infos span {
    font-size: 2rem;
    margin: 0.5rem 0;
}


.clear_btn {
    background: url('../images/bin.webp') no-repeat center center / 24px 24px;
    border: 4px solid;
    border-color: #fdfbfc #646e76 #606065 #fdfbfc;
    color: #4d4d4d;
    text-align: left;
    flex-direction: row;
    align-items: center;
    width: 48px;
    height: 48px;
    margin: 4px;
    box-sizing: border-box;
}

.skip_btn {
    display: none;
}

.game_btn{
    display: flex;
}

.game .skip_btn {
    display: block;
    border: 4px solid;
    background-color: transparent;
    border-color: #fdfbfc #646e76 #606065 #fdfbfc;
    color: #4d4d4d;
    text-decoration: none;
    text-shadow: none!important;
    text-align: left;
    flex-direction: row;
    align-items: center;
    height: 48px;
    margin: 4px;
    box-sizing: border-box;
    padding: 0 20px;
}

.skip_btn:hover {
    background: #9e9e9e no-repeat center center / 24px 24px;
    border-color: #b0b0b0 #6a6a6a #6a6a6a #b0b0b0;
}

#information {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 80%;
    overflow: break-word;
}

#information p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    word-break: break-word;
}

.clear_btn:hover {
    background: #9e9e9e no-repeat center center / 64px 64px;
    border-color: #b0b0b0 #6a6a6a #6a6a6a #b0b0b0;
}

#information_btn {
    width: 30px!important;
}

#home_btn {
    width: 30px!important;
    display: flex;
    padding: 0px!important;
    align-items: center;
    justify-content: center;
    height: 44px;
}

@media (max-width: 800px) {
    .interface_btn {
        width: 40%!important;
        padding: 0.5rem;
        font-size: 1rem;
    }

    .infos {
        width: 100px;
    }

    .infos span {
        font-size: 1.2rem;
        margin: 0px 0px;
    }

    .infos h2 {
        font-size: 0.8rem;
        margin: 0px 0px;
    }

    .clear_btn {
        width: 32px;
        height: 32px;
    }

    .clear_btn:hover {
        background: url('../images/bin.webp') no-repeat center center / 24px 24px;
        border-color: #b0b0b0 #6a6a6a #6a6a6a #b0b0b0;
    }

    .skip_btn {
        height: 32px!important;
    }

    #restart-game, #close {
        /* les bouton ne doivent pas être sur la même ligne */
        display: block;
        width: 100%!important;
    }

    #header {
        height: 60px;
    }
}